* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bfd7e4;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;
  background: #293241;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: 107px auto 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'Staatliches', cursive;
  color: #fff;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

header p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 2px;
}

header img {
  margin-top: 46px;
}

header .top-title {
  width: 100%;
  height: 109px;
  margin-top: 32px;
  background: #f67669;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-title p {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}

form {
  background: #ffffff;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 31px 64px;
  margin-bottom: 392px;
  border-radius: 0 0 20px 20px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.fieldset-wrapper .col-2 {
  display: flex;
  gap: 22px;
  margin-bottom: 15px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fieldset-wrapper .input-wrapper label,
.fieldset-wrapper .checkbox-wrapper label {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
  margin-bottom: 8px;
}

.fieldset-wrapper .input-wrapper label span {
  margin-left: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
}

.fieldset-wrapper .input-wrapper label span:hover {
  color: #76747a;
}

.fieldset-wrapper .input-wrapper input,
.fieldset-wrapper .input-wrapper select,
.fieldset-wrapper .input-wrapper textarea {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  height: 55px;
  font-size: 16px;
  padding: 0 14px;
  color: #4e4958;
}

.fieldset-wrapper legend {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #253b51;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 31px;
}

.fieldset-wrapper .input-wrapper select {
  width: 300px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.87207L5 4.8384L9 0.87207' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
  margin-bottom: 32px;
}

.fieldset-wrapper .input-wrapper textarea {
  padding-top: 10px;
  height: 166px;
  margin-bottom: 29px;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  display: block;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99997 16.17L4.82997 12L3.40997 13.41L8.99997 19L21 7.00003L19.59 5.59003L8.99997 16.17Z' fill='%2342D3FF'/%3E%3C/svg%3E ");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid #000;
}

.fieldset-wrapper .col-3 {
  display: flex;
  gap: 32px;
}

.col-3 .col-2 {
  gap: 10px;
}

.button {
  height: 51px;
  border: none;
  background: #f67669;
  border-radius: 8px;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 33px;
  margin-bottom: 33px;
}

.button:hover {
  background: #d35648;
}

.input-wrapper input:invalid {
  border: 2px solid #f00;
}
